<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Logların yazılacağı hedefleri tanımlayın -->
  <targets>
    <!-- Dosya hedefi -->
    <target xsi:type="File" name="logfile" fileName="${basedir}/Logs/application.log"
            layout="${longdate} | ${level} | ${callsite} | ${message} ${exception:format=toString}" />
  </targets>

  <!-- Logger'ların hedeflerle eşleştirilmesi -->
  <rules>
    <logger name="*" minlevel="Error" writeTo="logfile" />
  </rules>
</nlog>
